@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Monsters</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="colorRed">Welcome to Monsters</h2>
        <p>
            Gå in i Apply för att ansöka kurs.<br />
            gå in i Admin för att se alla ansöknignar

        </p>
    </div>

   
</div>